body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 7%)
}

.to-do-label {
    font-size: 4rem;
    color: hsl(0, 0%, 100%);
}

.taskInput {
    font-size: 1.7rem;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: hsl(0, 0%, 18%);
    color: hsl(0, 0%, 50%)
}

button {
    font-size: 1.7rem;
    cursor: pointer;
    border: none;
    margin-left: 4px;
    border-radius: 6px;
}

ol {
    margin-top: 40px;
}

li {
    margin: 10px 20px;
    padding: 5px 10px;
    border: 2px solid hsl(0, 0%, 27%);
    border-radius: 6px;
    display: flex;
    align-items: center;
    font-weight: bold;
    background-color: hsl(0, 0%, 18%);
}

.taskText {
    font-size: 1.6rem;
    flex: 1;
    color: hsl(0, 0%, 88%);
}

.removeBtn {
    background-color: hsl(0, 100%, 50%);;
}

.moveBtn {
    background-color: hsl(180, 54%, 49%)
}

.enterBtn { 
    background-color: hsl(150, 100%, 40%);
    border: 1px solid hsl(0, 0%, 27%);
}

.removeBtn:hover {
    background-color: hsl(0, 98%, 35%);;
}

.moveBtn:hover {
    background-color: hsl(180, 54%, 37%)
}

.enterBtn:hover { 
    background-color: hsl(150, 100%, 29%);
}

.checkboxBlock { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px 5px;
    margin-left: 12px;
}

.isComplete {
    font-size: 0.8rem;
    color: hsl(0, 0%, 70%);
}

.checkbox { 
    cursor: pointer;
}

.noTasks {
    color: hsl(0, 0%, 100%);
}